In [11]:
import pandas as pd
from dotenv import load_dotenv
import requests
import numpy as np
import os
load_dotenv()

True

### Carga de datos y preprocesamiento

#### Lectura de los datos de cada pel칤cula

In [12]:
movie_titles = pd.read_csv("movie_titles.csv", usecols=range(3), names=['id', 'year', 'name'], encoding='ISO-8859-1')
movie_titles

          id    year                                               name
0          1  2003.0                                    Dinosaur Planet
1          2  2004.0                         Isle of Man TT 2004 Review
2          3  1997.0                                          Character
3          4  1994.0                       Paula Abdul's Get Up & Dance
4          5  2004.0                           The Rise and Fall of ECW
...      ...     ...                                                ...
17765  17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766  17767  2004.0                  Fidel Castro: American Experience
17767  17768  2000.0                                              Epoch
17768  17769  2003.0                                        The Company
17769  17770  2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [13]:
print("----- Campos NaN en columna id -----\n", movie_titles[movie_titles['name'].isna()])
print("----- Campos NaN en columna a침o -----\n", movie_titles[movie_titles['year'].isna()])
print("----- Campos NaN en columna nombre -----\n", movie_titles[movie_titles['id'].isna()])

----- Campos NaN en columna id -----
 Empty DataFrame
Columns: [id, year, name]
Index: []
----- Campos NaN en columna a침o -----
           id  year                                         name
4387    4388   NaN      Ancient Civilizations: Rome and Pompeii
4793    4794   NaN  Ancient Civilizations: Land of the Pharaohs
7240    7241   NaN     Ancient Civilizations: Athens and Greece
10781  10782   NaN                       Roti Kapada Aur Makaan
15917  15918   NaN                      Hote Hote Pyaar Ho Gaya
16677  16678   NaN                              Jimmy Hollywood
17666  17667   NaN                           Eros Dance Dhamaka
----- Campos NaN en columna nombre -----
 Empty DataFrame
Columns: [id, year, name]
Index: []

In [14]:
api_key = os.getenv("API_KEY")

for movie in movie_titles[movie_titles['year'].isna()]['name']:
    url = f"https://api.themoviedb.org/3/search/movie?api_key={api_key}&query={movie}"
    response = requests.get(url)
    data = response.json()
    try:
        relase_date = data['results'][0]['release_date']
        if relase_date == '':
            raise
        release_year = relase_date[:4]
        print("游릭 La fecha de lanzamiento de " + movie + " es " + relase_date + ", del a침o " + release_year + ".")
        movie_titles.loc[movie_titles['name'] == movie, 'year'] = release_year
    except: print("游댮 No se encontr칩 fecha de lanzamiento para " + movie + ".")

游댮 No se encontr칩 fecha de lanzamiento para Ancient Civilizations: Rome and Pompeii.
游댮 No se encontr칩 fecha de lanzamiento para Ancient Civilizations: Land of the Pharaohs.
游댮 No se encontr칩 fecha de lanzamiento para Ancient Civilizations: Athens and Greece.
游릭 La fecha de lanzamiento de Roti Kapada Aur Makaan es 1974-01-01, del a침o 1974.
游댮 No se encontr칩 fecha de lanzamiento para Hote Hote Pyaar Ho Gaya.
游릭 La fecha de lanzamiento de Jimmy Hollywood es 1994-03-30, del a침o 1994.
游댮 No se encontr칩 fecha de lanzamiento para Eros Dance Dhamaka.

In [15]:
movie_titles.at[4387, 'year'] = 2001
movie_titles.at[4793, 'year'] = 2001
movie_titles.at[7240, 'year'] = 2002
movie_titles.at[15917, 'year'] = 1999
movie_titles.at[17666, 'year'] = 1999
movie_titles = movie_titles.astype(dtype = {'id': np.int32, 'year': np.int32})
print("----- Campos NaN en columna a침o -----\n", movie_titles[movie_titles['year'].isna()])

----- Campos NaN en columna a침o -----
 Empty DataFrame
Columns: [id, year, name]
Index: []